.pt2 {
  padding-top: 2rem;
}

.pb2 {
  padding-bottom: 2rem;
}

.section {
  padding-top: 5rem;
  padding-bottom: 5rem;

  @media screen and (max-width: $tablet) {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

.section-padding {
  padding-top: 3em;
  padding-bottom: 3em;
}

.no-padding {
  padding-left: 0;
  padding-right: 0;
}

.wide {
  max-width: 100%!important;
}