.ri-footer {
  background: linear-gradient(#1a1a1b, #111);
  color: $white;
  font-size: 0.9375rem;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;

  .ri-footer-logo {
    display: inline-block;

    svg {
      width: 95px;
    }

    .logo-color {
      fill: #EEE;
    }
  }
}

@media screen and (max-width: $phone-wide) {
  .ri-footer {
    font-size: 1rem;
    overflow: hidden;
  }

  .ri-footer__nav {
    text-align: center;
  }
}

.ri-footer__main {
  padding-top: 3rem;
  padding-bottom: 1rem;
  color: #999;
  max-width: 1000px;
  margin: 0 auto;

  .nav-list {
    display: flex;
    justify-content: center;

    @media screen and (max-width: $phone-wide) {
      display: block;
      text-align: left;
      border-top: 1px solid #666;
    }

    > li {
      &:not(:last-child) {
        margin-right: 2rem;

        @media screen and (max-width: $phone-wide) {
          margin: 0;
        }
      }

      > a {
        color: #999;

        @media screen and (max-width: $phone-wide) {
          min-width: 120px;
          display: inline-block;
        }
      }

      @media screen and (max-width: $phone-wide) {
        display: block;
        border-bottom: 1px solid #666;

        &.menu-item-has-children {
          position: relative;

          &:after {
            content: "\f107";
            font-family: fontAwesome;
            font-size: 1.5rem;
            color: $gold;
            position: absolute;
            transform-origin: center center;
            right: .5rem;
            top: .4rem;
            transition: .1s ease-in-out;
          }

          .sub-menu {
            display: none;
          }

          &.active {
            &:after {
              content: "\f107";
              font-family: fontAwesome;
              font-size: 1.5rem;
              color: $gold;
              position: absolute;
              right: .5rem;
              top: .4rem;
              transform: rotate(180deg);
            }
          }
        }
      }
    }

    .sub-menu {
      margin: 0;
      padding: .5rem 0 0 0;

      li {
        a {
          text-transform: capitalize;
          padding: .25rem 0;
        }
      }
    }
  }

  .site-info {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9375rem;
    text-align: center;
    padding-top: 1.5rem;

    @include letterspace;

    @media screen and (max-width: $phone-wide) {
      display: block;
    }
  }

  .info {
    padding: 0 1rem;
  }

  p {
    display: inline;
    font-size: 1rem;

    @include letterspace;
  }

  a {
    color: #999;

    &:hover {
      text-decoration: none;
      color: $gold;
    }
  }
}

@media screen and (max-width: $phone-wide) {
  .ri-footer__main {
    text-align: center;
  }
}

.footer-logo {
  padding-right: 1.5rem;

  .svg-logo {
    width: 70px;
    height: 60px;

    g {
      fill: gray;
    }
  }
}

.ri-footer {
  ul {
    li {
      padding: .25rem;
      color: $white;

      a {
        padding: .25rem;
        color: $white;
        text-transform: uppercase;

        @include letterspace;
      }
    }
  }
}

@media screen and (max-width: $phone-wide) {
  .ri-footer ul {
    display: block;
    margin-left: 0;
  }
}

@media screen and (max-width: $phone-wide) {
  .ri-footer ul li {
    margin-right: 0;
  }
}

@media screen and (max-width: $phone-wide) {
  .ri-footer ul li a {
    font-size: 1rem;
    line-height: 2rem;
  }
}

#return-to-top {
  background: rgba(black, 0.6);
  border-radius: 0;
  bottom: 0;
  display: none;
  height: 3rem;
  position: fixed;
  right: 0;
  text-decoration: none;
  transition: all 0.3s ease;
  width: 3rem;
  z-index: 99;

  .up-arrow {
    height: 1.5rem;
    width: auto;
    color: $white;
    margin: 0;
    position: relative;
    left: .8rem;
    top: .9rem;
    font-size: 1.3rem;
    transition: all 0.3s ease;

    g {
      fill: $white;
    }
  }

  &:hover {
    background: rgba(17, 17, 17, 0.9);

    i {
      color: $white;
    }
  }
}