.right-sidebar .left-col {
  padding-right: 5rem;
}

@media screen and (max-width: $tablet) {
  .right-sidebar .left-col {
    padding-right: 15px;
  }
}

.nopadding {
  padding-left: 0;
  padding-right: 0;
}

@media screen and (max-width: $tablet) {
  .nopadding {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.nopadding-left {
  padding-left: 0;

  @media screen and (max-width: $tablet) {
    padding-left: 15px;
  }
}

.container {
  @media screen and (max-width: $tablet) {
    max-width: 100%;
  }
}