.right-sidebar .left-col {
  padding-right: 5rem;
}

@media screen and (max-width: 768px) {
  .right-sidebar .left-col {
    padding-right: 15px;
  }
}

.nopadding {
  padding-left: 0;
  padding-right: 0;
}

@media screen and (max-width: 736px) {
  .nopadding {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.nopadding-left {
  padding-left: 0;
}

@media screen and (max-width: 736px) {
  .nopadding-left {
    padding-left: 15px;
  }
}