.ri-header {
  display: flex;
  padding-top: 1rem;
  padding-bottom: 1rem;
  position: relative;
  width: 100%;
  z-index: 25;

  .ri-logo {
    &.fade {
      opacity: 0;
      transition: 0.3s;
    }

    .svg-logo {
      width: 125px;
      height: 60px;

      #Group-2 {
        fill: $purple;
      }
    }
  }
}

.header-container {
  max-width: 1024px !important;

  .secondary {
    display: flex;
    align-items: center;

    @media screen and (max-width: $phone-wide) {
      justify-content: center;
    }
  }

  .primary {
    display: flex;
    justify-content: center;

    @media screen and (max-width: $phone-wide) {
      display: none;
    }
  }
}