button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: 1px solid;
  border-color: $color__border-button;
  border-radius: 3px;
  background: $color__background-button;
  color: rgba(0, 0, 0, 0.8);

  @include font-size(0.75);

  line-height: 1;
  padding: .6em 1em .4em;

  &:hover {
    border-color: $color__border-button-hover;
  }

  &:active,
  &:focus {
    border-color: $color__border-button-focus;
  }
}

.btn {
  display: inline-block;
  border: 1px solid $gold;
  color: $gold;
  padding: 1rem 1.25rem .85rem;
  line-height: 1;
  transition: .3s all;
  border-radius: 2px;
  font-weight: bold;
  margin: 1rem 0;
  @include letterspace;

  &.solid {
    background: $gold;
    color: $white;
    border: none;
    &:hover {
      background: none;
      box-shadow: 0 0 0 1px $gold;
      color: $gold;
    }
  }

  .fa {
    margin-right: .5rem;
    font-size: 1.5rem;
    position: relative;
    top: .15rem;
    color: $gold;
  }

  &:hover {
    background-color: $gold;
    color: $white;
    text-decoration: none;

    .fa {
      color: $white;
    }
  }
}