h1, h2, h3, h4, h5, h6 {
  clear: both;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 1.8rem;
  line-height: 2.3rem;
}

body:not(.home) .site-main {
  h1 {
    padding-bottom: 1rem;
  }
}

h2 {
  font-size: 1.6rem;
  line-height: 2.1rem;
  padding-bottom: 1rem;

  @include letterspace;

  &.styled {
    font-family: $serif;
    font-size: 4rem;
    color: #666;
  }
}

h3 {
  font-size: 1.4rem;
  line-height: 1.8rem;
  padding-bottom: 1rem;
}

h4 {
  font-size: 1rem;
  padding-bottom: .5rem;
}

h5 {
  color: #666;
  font-size: 1.25rem;
  line-height: 1.5rem;
  padding-bottom: 1rem;
  font-weight: bold;
}