.main-navigation {
  #primary-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    top: .3rem;
    transition: .3s ease-in;

    &.shrink {
      padding-top: 1.5rem;
    }

    > li {
      position: relative;

      &:not(:last-child) {
        margin-right: 1rem;
      }

      .sub-menu {
        background: white;
        display: none;
        margin: 0;
        min-width: 280px;
        padding: 0;
        position: absolute;
        width: auto;
        border: 1px solid #DDD;

        li {
          border-bottom: 1px solid #DDD;
        }

        a {
          color: $black;
          padding: 1.1rem 2rem;
          display: block;
          letter-spacing: 2px;

          &:hover {
            background: $purple;
            color: $white;
          }
        }
      }

      > a {
        color: black;
        font-size: 0.92rem;
        letter-spacing: 3px;
        padding: 1rem;
        position: relative;

        // &:before {
        //   display: block;
        //   content: "";
        //   border-top: 2px solid $purple;
        //   left: 0;
        //   top: -.5rem;
        //   transition: .3s ease-in-out;
        //   position: absolute;
        //   width: 0;
        // }

        &:hover {
          color: white;
          background: $purple;

          // &:before {
          //   content: "";
          //   width: 100%;
          // }
       
        }
      }
    }

    li:hover > .sub-menu,
    li:focus > .sub-menu {
      z-index: 10;
      display: block;
    }

    li:hover > a {
      background: $purple;
      text-decoration: none;
      color: white;
      position: relative;
      z-index: 20;
    }

    li {
      position: relative;

      &:hover > a,
      &.focus > a {}
    }

    a {
      display: block;
      text-decoration: none;
      color: #333;
    }
  }

  .current_page_item > a,
  .current-menu-item > a,
  .current_page_ancestor > a,
  .current-menu-ancestor > a {}
}

.menu-top-nav-container ul li:hover > ul {
  display: block;
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
  display: block;
}

@media screen and (min-width: 37.5em) {
  .menu-toggle {
    display: none;
  }

  .main-navigation ul {
    display: block;
  }
}

.comment-navigation,
.posts-navigation,
.post-navigation {
  .site-main & {
    margin: 0 0 1.5em;
    overflow: hidden;
  }

  .nav-previous {
    float: left;
    width: 50%;
  }

  .nav-next {
    float: right;
    text-align: right;
    width: 50%;
  }
}